footer{
	background: #3d0052;
	background-image: -webkit-linear-gradient(to right, #480e5c, #8411ab, #3d0052);
	background-image: linear-gradient(to right, #480e5c, #8411ab, #3d0052);
	/*background-color: rgba(190,139,227,0.2);*/
	color: #cccaca;
	font-size: 14px;
	padding: 30px 30px 30px 30px;
	text-align: center;
}

footer .cont_footer div{
	padding: 2px;
}


@media (min-width: 600px){

	footer{
}

}